#                            MINNING TWITTER DATA

#### Importing the needed library

In [1]:

import pandas as pd
import snscrape.modules.twitter as sntwitter

##### Scrapping the Tweets using #data analysis

In [2]:
scrapper = sntwitter.TwitterSearchScraper("#data analysis")

tweets = []

for i, tweet in enumerate(scrapper.get_items()):
    data = [
        tweet.date,
        tweet.id,
        tweet.rawContent,
        tweet.user.username,
        tweet.likeCount,
        tweet.retweetCount,
        tweet.url
    ]
    tweets.append(data)
    
    if i > 1000:
        break
    
my_tweets = pd.DataFrame(tweets, columns=['date', 'id', 'content', 'username', 'like_count', 'retweet_count', 'url']) # changing from list to a datafrme
my_tweets.to_csv('My_Twitter_Data', index=False) # saving to a csv file

In [3]:
len(tweets)

1002

In [4]:
my_tweets.head()

,date,id,content,username,like_count,retweet_count,url
0,2023-03-08 01:44:54+00:00,1633282613027667968,You no longer need to be a data scientist to a...,DataMotto,0,0,https://twitter.com/DataMotto/status/163328261...
1,2023-03-07 23:58:02+00:00,1633255719473676288,Time Series Analysis in R. Learn the core tech...,DD_Bun_,6,1,https://twitter.com/DD_Bun_/status/16332557194...
2,2023-03-07 23:40:35+00:00,1633251329010466816,"Therabody's smart glasses are nice, but not ne...",SuriyaSubraman,0,0,https://twitter.com/SuriyaSubraman/status/1633...
3,2023-03-07 21:25:11+00:00,1633217250999291904,North American oil and gas firms need new tech...,kashyappuranik,1,0,https://twitter.com/kashyappuranik/status/1633...
4,2023-03-07 20:56:54+00:00,1633210133865185280,North American oil and gas firms need new tech...,GarryStanis,0,0,https://twitter.com/GarryStanis/status/1633210...

In [5]:
my_tweets.shape

(1002, 7)